docs/expert-onboarding/expert-onboarding-workflow.json
{
  "name": "Expert Onboarding with Resume Upload",
  "nodes": [
    {
      "parameters": {
        "path": "expert-onboarding",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        320
      ],
      "webhookId": "expert-onboarding"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\nconst binary = $binary || {};\n\nconst required = [\n  \"fullName\",\n  \"email\",\n  \"membershipNumber\",\n  \"qualification\",\n  \"areaOfExpertise\"\n];\n\nconst missing = required.filter(\n  field => !body[field]\n);\n\nif (missing.length > 0) {\n  return [{\n    json: {\n      valid: false,\n      message: \"Missing required fields\",\n      fieldErrors: missing.reduce((acc, field) => {\n        acc[field] = `${field} is required`;\n        return acc;\n      }, {})\n    },\n    binary: {\n      data: binary.data\n    }\n  }];\n}\n\nif (!binary.data) {\n  return [{\n    json: {\n      valid: false,\n      message: \"Resume upload missing\",\n      fieldErrors: {\n        profile: \"Resume file is required\"\n      }\n    },\n    binary: {\n      data: binary.data\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    ...body\n  },\n  binary: {\n    data: binary.data\n  }\n}];"
      },
      "id": "validate-fields-node",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fields-valid-condition",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fields-valid-node",
      "name": "Fields Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.google.com/recaptcha/api/siteverify",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "secret",
              "value": "={{ $env.RECAPTCHA_SECRET_KEY }}"
            },
            {
              "name": "response",
              "value": "={{ $node['Webhook'].json.body['g-recaptcha-response'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "verify-captcha-node",
      "name": "Verify CAPTCHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "captcha-valid-condition",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "captcha-valid-node",
      "name": "CAPTCHA Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        220
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-binary-node",
      "name": "Merge Binary Back",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1420,
        220
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "binaryData": true,
        "binaryPropertyName": "data",
        "name": "={{ $binary.data.fileName }}",
        "parents": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
        "options": {}
      },
      "id": "upload-resume-node",
      "name": "Upload Resume",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1660,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merge-full-name",
              "name": "fullName",
              "value": "={{ $node['Validate Fields'].json['fullName'] }}",
              "type": "string"
            },
            {
              "id": "merge-mobile-number",
              "name": "mobileNumber",
              "value": "={{ $node['Validate Fields'].json['mobileNumber'] }}",
              "type": "string"
            },
            {
              "id": "merge-email",
              "name": "email",
              "value": "={{ $node['Validate Fields'].json['email'] }}",
              "type": "string"
            },
            {
              "id": "merge-membership",
              "name": "membershipNumber",
              "value": "={{ $node['Validate Fields'].json['membershipNumber'] }}",
              "type": "string"
            },
            {
              "id": "merge-cop",
              "name": "cop",
              "value": "={{ $node['Validate Fields'].json['cop'] }}",
              "type": "string"
            },
            {
              "id": "merge-qualification",
              "name": "qualification",
              "value": "={{ $node['Validate Fields'].json['qualification'] }}",
              "type": "string"
            },
            {
              "id": "merge-profession",
              "name": "profession",
              "value": "={{ $node['Validate Fields'].json['profession'] }}",
              "type": "string"
            },
            {
              "id": "merge-area",
              "name": "areaOfExpertise",
              "value": "={{ $node['Validate Fields'].json['areaOfExpertise'] }}",
              "type": "string"
            },
            {
              "id": "merge-pincode",
              "name": "pincode",
              "value": "={{ $node['Validate Fields'].json['pincode'] }}",
              "type": "string"
            },
            {
              "id": "merge-resume-file",
              "name": "resumeFileName",
              "value": "={{ $node['Upload Resume'].json['name'] || $node['Webhook'].binary.data.fileName }}",
              "type": "string"
            },
            {
              "id": "merge-resume-link",
              "name": "resumeLink",
              "value": "={{ $node['Upload Resume'].json['webViewLink'] || ('https://drive.google.com/file/d/' + $node['Upload Resume'].json['id'] + '/view') }}",
              "type": "string"
            },
            {
              "id": "merge-created-at",
              "name": "createdAt",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-data-node",
      "name": "Merge Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1900,
        220
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $json.fullName }}",
            "mobileNumber": "={{ $json.mobileNumber }}",
            "email": "={{ $json.email }}",
            "membershipNumber": "={{ $json.membershipNumber }}",
            "cop": "={{ $json.cop }}",
            "qualification": "={{ $json.qualification }}",
            "profession": "={{ $json.profession }}",
            "areaOfExpertise": "={{ $json.areaOfExpertise }}",
            "pincode": "={{ $json.pincode }}",
            "resumeFileName": "={{ $json.resumeFileName }}",
            "resumeLink": "={{ $json.resumeLink }}",
            "createdAt": "={{ $json.createdAt }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-row-node",
      "name": "Append Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2140,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-subject",
              "name": "subject",
              "value": "=New expert onboarding: {{$json.fullName}}",
              "type": "string"
            },
            {
              "id": "email-html",
              "name": "html",
              "value": "=<p><strong>Name:</strong> {{$json.fullName}}</p><p><strong>Email:</strong> {{$json.email}}</p><p><strong>Mobile:</strong> {{$json.mobileNumber}}</p><p><strong>Membership:</strong> {{$json.membershipNumber}}</p><p><strong>COP:</strong> {{$json.cop}}</p><p><strong>Qualification:</strong> {{$json.qualification}}</p><p><strong>Area of Expertise:</strong> {{$json.areaOfExpertise}}</p><p><strong>Resume:</strong> <a href='{{$json.resumeLink}}'>{{$json.resumeFileName}}</a></p>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-email-node",
      "name": "Build Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2380,
        220
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@nritax.ai",
        "toEmail": "YOUR_ONBOARDING_TEAM_EMAIL",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2620,
        220
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Expert onboarding saved successfully\",\n  \"resumeLink\": $node[\"Upload Resume\"].json[\"webViewLink\"] || ('https://drive.google.com/file/d/' + $node[\"Upload Resume\"].json[\"id\"] + '/view')\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2860,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Missing required fields or resume file\",\n  \"errors\": $json.errors || []\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "field-error-node",
      "name": "Field Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        940,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Security verification failed\",\n  \"recaptchaCodes\": $json['error-codes'] || []\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "captcha-error-node",
      "name": "CAPTCHA Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1420,
        440
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Fields Valid?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Binary Back",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fields Valid?": {
      "main": [
        [
          {
            "node": "Verify CAPTCHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Field Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify CAPTCHA": {
      "main": [
        [
          {
            "node": "CAPTCHA Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CAPTCHA Valid?": {
      "main": [
        [
          {
            "node": "Merge Binary Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CAPTCHA Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Binary Back": {
      "main": [
        [
          {
            "node": "Upload Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Resume": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Row": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "expert-onboarding-v2",
  "meta": {
    "instanceId": "expert-onboarding-template"
  },
  "id": "expert-onboarding-workflow-v2",
  "tags": []
}
